

.FondoRegistro {

background-color:white;
border: 5px solid black;
border-radius:10px;
text-align:center;
padding:20px;
margin-top: 100px;

box-shadow: 0 0 .25em .25em rgba(0, 0, 0, 0.25);
}

body{
background-color:white;
background-position:center;



}