.estNavbar
{
background-color:rgb(71, 7, 83);
}

body{
background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("./Fotos/RayoBien.png");
display:inline-block;
width:100%;
height:100%;

}

.estContainer{
background-color:white;
border-right:10px solid black;
border-left:10px solid black;
border-bottom:10px solid black;

padding-top:15px;
padding-bottom:200px;
margin-bottom:200px;
}